*{
	box-sizing: border-box;
	display: block;
}
pedido{
background-color: lightblue;
color: black;
width: 400px;
padding: 10px;
margin: 10px;
border: 3px solid darkgreen;
}
precioud:before{
content: "Precio:";
}
precioud:after{
content: "€";
}
fechap:before{
	content: "Fecha del pedido";
}
plazorevision:before{
	content: "Fecha de revision";
}
numeroup:before{
	content: "Numero de pedido";
}
trabajador:before{
	content: "Nombre del trabajador:";
}
observacionp:before{
	content: "Observaciones del pedido:";
}
