*{
	box-sizing: border-box;
	display: block;
}
libro{
background-color: lightblue;
color: black;
width: 400px;
padding: 10px;
margin: 10px;
border: 3px solid darkgreen;
}
precio:after{
content: "€";

}