/*CSS del body*/
body {
	font-size: 20px;
}





/*CSS de la barra de navegación*/
.inicio{

	text-align: center;
	background-color: #0099e6;
	word-spacing: 2rem;
	padding-top: 0,1rem;
	padding-bottom: 0,1rem;
}
.inicio a{
	padding: 1rem;
	color: #ffffff;		
}
.inicio a:link {
	text-decoration: none; 
}
.inicio a:hover{
	background-color: #66ccff;
}




/*Etiqueta define una sección en un documento <section>.*/
.tipofor {
	color: darkgrey;
	text-align: center;
}

.actualidad{
	color: darkgrey;
	text-align: center;
	background-color: grey;
}




/*CSS del article*/
.col-4{
	width: 33.333%;
	float: left;

}
.col-5{
	width: 25%;
	float: left;
}
.col-6{
	width: 25%;
	float: left;
}




/*CSS del h2*/
.ceu{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 3em;
    line-height: 1.2em;
    color: #CCC;
}





section article img{

	width: 100%;
}






/*CSS del h3*/
.h3{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 2.2em;
    color: #000;
}




/*CSS del div (imagenes)*/
.noticia-img {
    display: block;
    height: 300px;
    width: 300px;
    margin: auto;
    margin: 0,5rem;
   background-size: cover;
    background-position: center center;
}


/*CSS texto div*/
.textodiv{
	
}




/*CSS de las tablas*/
table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
td:hover {background-color: #D6EEEE;}
th {
	background-color: rgba(4, 0, 0, 0);
}
.caja01{
	border: 10px solid green;
	padding: 1em;
	margin: 1em;
}
.caja02{
	border-top: 1px solid red;
	border-right: 5px dotted green;
	border-bottom: 10px double blue;
	border-left: 15px dashed yellow;
}

.caja03{
	border: 2px solid red;
	border-radius: 100%;
	height: 400px;
	width: 400px;
	text-align: center;
	padding: 2px;
}